.InfiniteCarouselArrowIcon {
  display: inline-block;
  border: solid #ff7c2e !important;
  border-width: 0 5px 5px 0 !important;
}
.carouselContainer {
  background-color: #319dd4;
  display: flex;
  padding: 40px 40px;

}
.carouselWrapper {
  width: 100%;
}