.label1 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 44px;
  font-style: normal;
  line-height: 1.4;
  color: #ff7c2e;
}

.label2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 38px;
  font-style: normal;
  line-height: 1.4;
  color: #3f4750;
}

.immg {
  height: 400px;
  width: 400px;
  background-color: yellow;
}
